<section class="nav-bar">
    <div class="cont-buscador">
        <div  class="buscador">
            <input id="buscador" type="text" placeholder="Nombre del producto">
            <button class="btn-buscar" >Buscar</button>
        </div>
    </div>
    <div class="product-sellected">

    </div>
        
    <footer>
        footer
    </footer>
    
    
</section>